<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>瑰居</title>
    <link rel="icon" href="../../resources/images/favicon.ico"/>
    <script src="../../resources/js/jquery.js"></script>
    <script src="../../resources/vue/vue.js"></script>
    <script src="../../resources/antd/moment.js"></script>
    <script src="../../resources/antd/antd.js"></script>
    <script src="../../resources/antd/ant-design-vue.js"></script>
    <link href="../../resources/antd/antd.min.css" rel="stylesheet">
    <style>
        #home {
            height: auto;
        }
        #components-layout-demo-side {
            height: auto;
        }
        #components-layout-demo-side .trigger {
            font-size: 18px;
            line-height: 64px;
            padding: 0 24px;
            cursor: pointer;
            transition: color .3s;
        }

        #components-layout-demo-side .ant-layout-sider {
            width: 300px;
        }

        #components-layout-demo-side .trigger:hover {
            color: #1890ff;
        }


        .header-box{
            float: right;
            width: 150px;
            height: 100%;
            margin-right: 20px;
        }
        .header-box .ant-btn {
            width: 100%;
            height: 100%;
            margin-right: 8px;
            margin-bottom: 8px;
            border: none;
        }

        #mobile1 div{
            margin-right: 0;
        }
    </style>
</head>
<body>
<div id="home">
    <a-layout id="components-layout-demo-side" style="min-height:100vh">


        <a-layout-sider :trigger="null" collapsible v-model="collapsed" width="250">
            <!--动态菜单-->
            <a-menu theme="dark" mode="inline" :inlinecollapsed="collapsed">
                <a-menu-item key="1">
                    <a-icon type="home"></a-icon>
                    <span>
                        <a target="ifm" href="main.html" style="color: #fff;text-decoration:none;">主页</a>
                    </span>
                </a-menu-item>

                <a-sub-menu v-for="treedata in treedatas" :key="treedata.id">
                    <span slot="title">
                        <a-icon :type="treedata.icon"></a-icon>
                        <span>
                            {{treedata.label}}
                        </span>
                    </span>

                    <a-menu-item v-for="children in treedata.children" :key="children.id">
                        <a target="ifm" :href="children.url">{{children.label}}</a>
                    </a-menu-item>

                </a-sub-menu>

            </a-menu>

        </a-layout-sider>

        <a-layout>
            <a-layout-header style="background: #fff; padding: 0">
                <!--菜单的隐藏按钮-->
                <a-icon class="trigger" :type="collapsed ? 'menu-unfold' : 'menu-fold'"
                        @click="()=> collapsed = !collapsed">
                </a-icon>

                <!--天气预报-->
                <iframe width="450" scrolling="no" height="18" frameborder="0" allowtransparency="true" src="//i.tianqi.com/index.php?c=code&id=1&color=%23&icon=1&wind=1&num=2&site=15"></iframe>

                <!--用户盒子-->
                <div class="header-box" >
                    <a-dropdown>
                        <a-button>
                            <a-avatar :src="emps.logoimg" icon="user"></a-avatar>
                            <span style="margin-left: 5px">{{emps.username}}</span>
                        </a-button>
                        <a-menu slot="overlay">
                            <a-menu-item>
                                <a target="ifm" rel="noopener noreferrer" href="empcenter.html">个人中心</a>
                            </a-menu-item>
                            <a-menu-item>
                                <a @click="empkill">注销</a>
                            </a-menu-item>
                        </a-menu>
                    </a-dropdown>
                    <br v-if="index === 2"/>
                </div>
            </a-layout-header>

            <!--ifam-->
            <a-layout-content style="margin:10px 10px;padding:10px;background:#fff;minHeight:600px;max-height:1000vh">
                <iframe scrolling="auto" frameborder="0" src="main.html" style="width:100%;height:100%;" name="ifm"></iframe>
            </a-layout-content>
        </a-layout>
    </a-layout>

</div>
<script>
    new Vue({
        el: '#home',
        data: {
            collapsed: false,
            treedatas:[],
            emps:{},
            datatime:"",
        },
        //登录的时候
        mounted:function () {
            var _this=this;
            var now = new Date();
            var hour = now.getHours();
            if(hour < 6){_this.datatime="凌晨好"}
            else if (hour < 9){_this.datatime="早上好！"}
            else if (hour < 12){_this.datatime="上午好！"}
            else if (hour < 14){_this.datatime="中午好！"}
            else if (hour < 17){_this.datatime="下午好！"}
            else if (hour < 19){_this.datatime="傍晚好！"}
            else if (hour < 22){_this.datatime="晚上好！"}
            else {_this.datatime="夜里好！"}
            //先判断是否登录，并将基本信息放入map里面
            $.ajax({
                type: "post",
                dataType: "json",
                url: "/login/judgeEmpLogin",
                success: function (data) {
                    _this.emps=data.object;
                    if (data.code == 200) {
                        //从session中获取用户的id
                        //根据ID获取一二级菜单
                        $.ajax({
                            type: "post",
                            url: "/menu/getMenuTree",
                            dataType:"json",
                            success: function (data) {
                                if(data.code==200){
                                    _this.treedatas=data.object;
                                }
                            }
                        })
                        _this.$notification.open({
                            message: '欢迎!',
                            description: _this.datatime+'欢迎回来开始工作吧~',
                        });
                    } else {
                        window.location.href="blogin.html";
                    }
                }
            });
        },
        //销毁session退出登录
        methods: {
            //注销
            empkill:function () {
                var _this=this;
                _this.$confirm({
                    title: '确定退出?',
                    okText: '确定',
                    cancelText: '取消',
                    onOk:function() {
                        $.ajax({
                            type: "post",
                            dataType: "json",
                            url: "/login/killEmpSession",
                            success: function () {
                                window.location.href = "blogin.html";
                            }
                        });
                    }
                });
            },



        }
    });
</script>

</body>
</html>
