<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>瑰居</title>
    <link rel="icon" href="../../resources/images/favicon.ico"/>
    <script src="../../resources/js/jquery.js"></script>
    <script src="../../resources/vue/vue.js"></script>
    <script src="../../resources/js/ele.js"></script>
    <link href="../../resources/css/ele.css" rel="stylesheet">
    <style>
        #role {
            height: 100%;
            background-color: #DCDFE6;
        }

        #role img {
            width: 50px;
            margin-left: 5px;
            margin-top: 0px;
            float: left
        }

        #role h1 {
            float: left;
        }

        body .el-container {
            height: 100%;
            margin-bottom: 40px;
            border-radius: 2px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
        }

        .el-header, .el-footer {
            background-color: #E4E7ED;
            color: #333;
            text-align: center;
        }

        .el-main {
            height: 400px;
            background-color: #EBEEF5;
            color: #333;
            text-align: center;
        }

        .el-main .el-table {
            background-color: #F2F6FC;
        }

        .el-pagination {
            margin-top: 15px;
        }

        #eform {
            text-align: left;
            float: right;
        }

        .el-form-item {
            margin-top: 10px;
        }

        .el-table td, .el-table th {
            text-align: center;
        }

        .yc {
            text-align: left;
        }

        .yc .el-form-item {
            width: 250px;
            margin-bottom: 0px;
            margin-left: 27px;
        }

        .el-input-group__append, .el-input-group__prepend {
            padding: 0 5px;
        }
    </style>
</head>
<body>
<div id="role">
    <el-container>

        <el-header>

            <image src="../../resources/images/icon/房子.png"></image>
            <h1>房源出租</h1>

            <el-form :inline="true" class="demo-form-inline" id="eform">
                <el-form-item label="区域">
                    <el-input v-model="hadr" placeholder="区域、商圈或小区名" size="medium"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="load(1)" icon="el-icon-search">查询</el-button>
                </el-form-item>
            </el-form>

        </el-header>
        <el-main>
            <el-table :data="tableData">
                <el-table-column type="expand">
                    <template slot-scope="props">
                        <el-form label-position="left" inline class="demo-table-expand">
                            <div class="yc">
                                <el-form-item label="房屋租金:">
                                    <span>{{ props.row.hrent }}</span>
                                </el-form-item>
                                <el-form-item label="房屋楼层:">
                                    <span>{{ props.row.hfloor }}</span>
                                </el-form-item>
                                <el-form-item label="房屋面积:">
                                    <span>{{ props.row.hspace }}</span>
                                </el-form-item>
                            </div>
                            <div class="yc">
                                <el-form-item label="房屋朝向:">
                                    <span>{{ props.row.orientation }}</span>
                                </el-form-item>
                                <el-form-item label="发布日期:">
                                    <span>{{ props.row.releasedate }}</span>
                                </el-form-item>
                                <el-form-item label="房屋布局:">
                                    <span>{{ props.row.hdesc }}</span>
                                </el-form-item>
                            </div>
                            <div class="yc">
                                <el-form-item label="描述标签:">
                                    <span v-for="k in props.row.desctag">{{ k }}&nbsp;&nbsp;</span>
                                </el-form-item>
                                <el-form-item label="配套设施:">
                                    <span v-for="ins in props.row.installation">{{ ins }}&nbsp;&nbsp;</span>
                                </el-form-item>
                            </div>
                        </el-form>
                    </template>
                </el-table-column>
                <el-table-column prop="houseid" label="房屋编号" width="100" sortable></el-table-column>
                <el-table-column prop="htitle" label="房屋标题"></el-table-column>
                <el-table-column prop="hadr" label="房屋地址"></el-table-column>
                <el-table-column prop="hstate" label="房屋状态" width="100"></el-table-column>
                <el-table-column prop="lesscount" label="预约人数" width="100"></el-table-column>
                <el-table-column label="操作" style="width: auto;">
                    <template slot-scope="props">
                        <el-button v-if="props.row.lesscount!==0" size="mini" @click="getCus(props.row.id)" type="success">
                            查看
                        </el-button>
                        <el-button v-if="props.row.lesscount==0" size="mini" type="success" plain disabled>
                            暂无预约
                        </el-button>
                    </template>


                    </template>
                </el-table-column>
            </el-table>
        </el-main>
        <el-footer>
            <el-pagination
                    @current-change="load"
                    :current-page="current"
                    :page-size="pageSize"
                    layout="total,prev,pager,next,jumper"
                    :total="total">
            </el-pagination>
        </el-footer>

        <el-dialog title="租客信息" :visible.sync="cusTable" width="99%" center>
            <el-table :data="cusData">
                <el-table-column width="150" property="cname" label="租客姓名"></el-table-column>
                <el-table-column width="150" property="cphone" label="租客手机"></el-table-column>
                <el-table-column width="150" property="seetime" label="看房日期"></el-table-column>
                <el-table-column width="300" property="cusdesc" label="租客介绍"></el-table-column>
                <el-table-column width="150" property="sstate" label="租客状态"></el-table-column>
                <el-table-column label="操作" style="width: auto;">
                    <template slot-scope="props">
                        <el-button v-if="props.row.sstate=='未看房'" @click="upLessState(props.row)" size="mini" type="primary">
                            看房
                        </el-button>
                        <el-button v-if="props.row.sstate=='已看房'" @click="upCus(props.row)" size="mini" type="primary">
                            编辑
                        </el-button>
                        <el-button v-if="props.row.sstate=='有意租'" @click="addTenant(props.row)" size="mini" type="success">
                            出租
                        </el-button>
                        <el-button v-if="props.row.sstate=='无意租'" @click="deleSee(props.row)" size="mini" type="danger">
                            删除
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-dialog>

        <el-dialog title="租户信息" :visible.sync="cusfrom" width="50%" center>
            <el-form :model="cform" label-width="80px" :inline="true">
                <input type="hidden" v-model="cform.id"/>
                <input type="hidden" v-model="cform.houseid"/>
                <input type="hidden" v-model="cform.hrent"/>
                <el-form-item label="姓名">
                    <el-input v-model="cform.cname" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="性别">
                    <template>
                        <el-radio-group v-model="cform.csex" :disabled="true">
                            <el-radio :label="1">男</el-radio>
                            <el-radio :label="2">女</el-radio>
                        </el-radio-group>
                    </template>
                </el-form-item>
                <el-form-item label="联系电话">
                    <el-input v-model="cform.cphone" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="身份证">
                    <el-input v-model="cform.ccard"></el-input>
                </el-form-item>
                <el-form-item label="看房日期">
                    <el-date-picker
                            v-model="cform.seetime"
                            type="date"
                            value-format="yyyy-MM-dd"
                            placeholder="选择日期">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="租客介绍">
                    <el-input
                            type="textarea"
                            :rows="2"
                            placeholder="请输入内容"
                            v-model="cform.cusdesc">
                    </el-input>
                </el-form-item>
                <el-form-item label="租房意愿">
                    <el-radio-group v-model="cform.state">
                        <el-radio :label="3">有意租</el-radio>
                        <el-radio :label="4">无意租</el-radio>
                    </el-radio-group>
                </el-form-item>
                <div style="margin-left: 180px">
                    <el-button @click="cusfrom = false">取 消</el-button>
                    <el-button @click="saveCus" type="primary">确 定</el-button>
                </div>
            </el-form>
        </el-dialog>

        <el-dialog title="出租房屋" :visible.sync="rentform" width="50%" center>
            <el-form :model="rform" label-width="80px" :inline="true">
                <!--房源id-->
                <input type="hidden"  v-model="houseid"/>
                <!--租客id-->
                <input type="hidden"  v-model="rform.renter"/>
                <el-form-item label="选择租期">
                    <el-date-picker
                            v-model="rdate"
                            type="daterange"
                            @change="getRent"
                            value-format="yyyy-MM-dd"
                            range-separator="至"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期">
                    </el-date-picker>
                </el-form-item>
                <el-form-item>
                    <span style="margin: 0 10px">月租金</span>
                    <el-input style="width: 100px" v-model="rentmonth" :disabled="true">
                        <template slot="append">元</template>
                    </el-input>
                </el-form-item>
                <el-form-item>
                    <span style="margin: 0 10px">应缴租金</span>
                    <el-input style="width: 100px" v-model="hrend" :disabled="true">
                        <template slot="append">元</template>
                    </el-input>
                </el-form-item>
                <el-form-item label="手续费">
                    <el-input style="width: 100px" v-model="charge"></el-input>
                    <template slot="append">元</template>
                </el-form-item>
                <div style="margin-left: 180px">
                    <el-button @click="rentform = false">取 消</el-button>
                    <el-button type="primary" @click="rent(rform.renter)">确 定</el-button>
                </div>
            </el-form>
        </el-dialog>
    </el-container>
</div>
<script>
    new Vue({
        el: "#role",
        data: {
            tableData: [], //数据表格
            total: 0, //总数
            pageSize: 5, //每页条数
            current: 1, //当前页数
            hadr: "", //查询条件
            cusTable:false, //租客表格弹框
            cusData:[], //租客表格

            cusfrom:false,//租客信息修改弹框
            cform:{},//租客信息修改表单

            rentform: false,//出租弹框
            rform: {},  //出租弹框里的表单
            houseid:"", //当前行的房源id
            rentmonth:"", //当前行的房源月租金
            rdate:[], //弹框里的日期选择器
            hrend:"",//全部租金
            charge:"" //租金(由日期选择器动态获取)
        },
        //刷新数据表格
        mounted: function () {
            this.load(1);
        },
        methods: {
            //房源表格加载
            //获取对应经纪人的房源(已发布房源)
            load: function (current) {
                var _this = this;
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/newhouse/getEmpHos/" + current + "/" + this.pageSize,
                    data: {hadr: _this.hadr},
                    success: function (data) {
                        _this.tableData = data.object;
                        _this.total = data.total;
                        _this.pageSize = 5;
                    }
                });
            },
            //根据房源id获取对应预约人资料，联合客户表，预约看房的客户表和房源表（house,seehistory,customer）
            loadTwo:function(id){
                var _this=this;
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/newhouse/getLessByHosId",
                    data: {id:id},
                    success: function (data) {
                        _this.cusData = data;
                    }
                });
            },
            //点击查看
            //租客表格弹框
            getCus:function (id) {
                this.cusTable=true;
                this.loadTwo(id);
            },
            //点击看房
            //修改未看房为已看房，将seehistory表里面的意向状态改为已看房（2）
            upLessState:function(row) {
              var _this=this;
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/newhouse/upLessState",
                    data: {id:row.id},
                    success: function (data) {
                        if (data.code == 200) {
                            _this.$message({
                                message: data.msg,
                                type: 'success'
                            });
                            _this.loadTwo(row.houseid); //刷新数据表格
                        } else {
                            _this.$message.error(data.msg);
                        }
                    }
                });
            },
            //点击编辑，出现租户信息
            //在点击了查看之后点击看房会出现编辑，修改租客的意向
            //租客信息修改
            upCus:function(row){
                this.cusfrom=true;
                this.cform=row;
            },
            //点击确定
            //保存租户信息
            //补充看房时间，租户描述及修改租户意向，以及添加身份证信息（seehistory，customer）
            saveCus:function(){
                var _this=this;
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/newhouse/upCusAndSee",
                    data: _this.cform,
                    success: function (data) {
                        if (data.code == 200) {
                            _this.$message({
                                message: data.msg,
                                type: 'success'
                            });
                            _this.cusfrom=false;
                            _this.loadTwo(_this.cform.houseid); //刷新数据表格
                        } else {
                            _this.$message.error(data.msg);
                        }
                    }
                });
            },
            //在编辑租户的意向的时候点击无意租，操作栏会显示为删除
            //点击删除
            //删除租客看房记录，从seehistory表中删除信息
            deleSee:function (row) {
                var _this=this;
                $.ajax({
                    type: "post",
                    url: "/newhouse/deleSeeByCusId",
                    data: {id:row.renter},
                    dataType: "json",
                    success: function (data) {
                        if (data.code == 200) {
                            _this.$message({
                                message: data.msg,
                                type: 'success'
                            });
                            _this.loadTwo(row.houseid); //刷新数据表格
                        } else {
                            _this.$message.error(data.msg);
                        }
                    }
                });
            },
            //在编辑租户的意向的时候选择有意租的时候操作栏会显示为出租
            //点击出租
            //出租房的弹框弹出
            addTenant: function (row) {
                this.rentform = true;
                this.rform = row;
                this.houseid = row.houseid;
                this.rentmonth = row.hrent;
                this.rdate = [];
                this.hrend = "";
                this.charge = "";
            },

            //点击确定
            rent: function (cid) {
                var _this = this;
                var rented = {
                    houseid: _this.houseid,
                    renter: cid,
                    begintime: _this.rdate[0],
                    endtime: _this.rdate[1],
                    hrend: _this.hrend,
                    charge: _this.charge
                }
                //在rented表里面添加一条租房信息
                //根据ID修改已发布的房屋状态为已出租(4)
                //给house表补充租客的ID（house中的tenantid）
                $.ajax({
                    type: "post",
                    url: "/newhouse/rentHouse",
                    data: rented,
                    dataType: "json",
                    success: function (data) {
                        if (data.code == 200) {
                            _this.$message({
                                message: data.msg,
                                type: 'success'
                            });
                            _this.rentform=false;
                            _this.cusTable=false;
                            _this.load(1); //刷新数据表格
                        } else {
                            _this.$message.error(data.msg);
                        }
                    }
                });
            },
            getRent: function () {  //处理日期  根据租期获取手续费
                var _this = this;
                //alert("开始日期====" + this.rdate[0])
                //alert("结束日期====" + this.rdate[1])
                var aDate, oDate1, oDate2, iDays;
                aDate = _this.rdate[0].split("-");
                oDate1 = new Date(aDate[0], aDate[1], aDate[2]);   //转换为12-18-2006格式
                aDate = _this.rdate[1].split("-");
                oDate2 = new Date(aDate[0], aDate[1], aDate[2]);
                iDays = parseInt(Math.abs(oDate1 - oDate2) / 1000 / 60 / 60 / 24);
                var month = Math.round(iDays / 30);
                if (month > 0 && month <= 3) {
                    _this.hrend = _this.rentmonth * 3;
                    _this.charge = _this.rentmonth * 0.1;
                } else if (month > 3 && month <= 6) {
                    _this.hrend = _this.rentmonth * 6;
                    _this.charge = _this.rentmonth * 0.3;
                } else {
                    _this.charge = _this.rentmonth;
                }
            }
        }
    })
</script>
</body>
</html>