<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>瑰居</title>
		<link rel="icon" href="../../resources/images/favicon.ico" />
		<script src="../../resources/js/jquery.js"></script>
		<script src="../../resources/vue/vue.js"></script>
		<script src="../../resources/js/ele.js"></script>
		<link href="../../resources/css/ele.css" rel="stylesheet">
		<style>
			#res {
				height: 100%;
				background-color: #DCDFE6;
			}
			
			#res img {
				width: 50px;
				margin-left: 15px;
				margin-top: 10px;
				float: left
			}
			
			#res h1 {
				float: left;
			}
			
			body .el-container {
				height: 100%;
				margin-bottom: 40px;
				border-radius: 2px;
				box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
			}
			
			.el-header,
			.el-footer {
				background-color: #E4E7ED;
				color: #333;
				text-align: center;
			}
			
			.el-main {
				height: 510px;
				background-color: #EBEEF5;
				color: #333;
				text-align: center;
			}
		</style>
	</head>

	<body>
		<div id="res">
			<el-container>

				<el-header>

					<image src="../../resources/images/icon/添加房源.png"></image>
					<h1>添加房源</h1>

				</el-header>
				<el-main>

					<el-form ref="rform" :model="rform">

						<el-form ref="eform" :model="eform" label-width="100px">
							<el-form-item label="经纪人信息">
								<el-col :span="8">
									<span>编号&nbsp;&nbsp;</span>
									<el-input v-model="eform.enumber" style="width:220px"></el-input>
								</el-col>

								<el-col :span="8">
									<span>名字&nbsp;&nbsp;</span>
									<el-input v-model="eform.ename" style="width:220px"></el-input>
								</el-col>

								<el-col :span="8">
									<span>电话&nbsp;&nbsp;</span>
									<el-input v-model="eform.ephone" style="width:220px"></el-input>
								</el-col>

								<el-col :span="2">
									<el-input id="eformid" v-model="eform.id" type="hidden" style="width: 50px;"></el-input>
								</el-col>
							</el-form-item>
						</el-form>

						<el-form ref="cform" :model="cform" label-width="80px">
							<el-form-item label="房东信息">
								<el-col :span="8">
									<span>编号&nbsp;&nbsp;</span>
									<el-select v-model="cform.id" :change="searchName(cform.id)" placeholder="请选择房东编号" size="large" clearable>
										<el-option v-for="role in rolenum" :key="role" :value="role">
										</el-option>
									</el-select>
								</el-col>

								<el-col :span="8">
									<span>名字&nbsp;&nbsp;</span>
									<el-input v-model="cname" style="width:220px"></el-input>
								</el-col>

								<!--<el-col :span="8">
									<span>身份证号&nbsp;&nbsp;</span>
									<el-input v-model="cform.ccard" style="width:220px"></el-input>
								</el-col>

								<el-col :span="8" style="margin-top: 10px;">
									<span>性别&nbsp;&nbsp;</span>
									<el-radio-group v-model="cform.csex">
										<el-radio label="1" >男</el-radio>
										<el-radio label="0" >女</el-radio>
									</el-radio-group>
								</el-col>-->

							</el-form-item>
						</el-form>

						<el-form-item label="房屋封面" label-width="80px">
							<!-- <el-col :span="11">-->
							<!--<span>房屋封面</span>-->
							<el-upload ref="upload" action="/upload" name="picture" list-type="picture-card" :limit="1" :on-exceed="onExceed" :before-upload="beforeUpload" :on-preview="handlePreview" :on-success="houseSuccess" :on-remove="handleRemove">
								<i class="el-icon-plus"></i>
							</el-upload>
							<el-dialog :visible.sync="dialogVisible">
								<img width="100%" :src="dialogImageUrl" alt="">
							</el-dialog>

						</el-form-item>

						<el-form ref="form" :rules="rules" :model="form" label-width="80px">

							<el-form-item label="房屋标题" prop="htitle">
								<el-input v-model="form.htitle"></el-input>
							</el-form-item>

							<el-form-item label="房屋地址">
								<el-col :span="8">
									<el-form-item label="市区" prop="address">
										<el-select v-model="form.address" placeholder="请选择地区" id="address">
											<el-option label="中原区" value="中原区"></el-option>
											<el-option label="二七区" value="二七区"></el-option>
											<el-option label="管城区" value="管城区"></el-option>
											<el-option label="金水区" value="金水区"></el-option>
											<el-option label="上街区" value="上街区"></el-option>
											<el-option label="惠济区" value="惠济区"></el-option>
											<el-option label="巩义市" value="巩义市"></el-option>
											<el-option label="荥阳市" value="荥阳市"></el-option>
											<el-option label="新密市" value="新密市"></el-option>
											<el-option label="新郑市" value="新郑市"></el-option>
											<el-option label="登封市" value="登封市"></el-option>
											<el-option label="中牟县" value="中牟县"></el-option>
											<el-option label="郑东新区" value="中牟县"></el-option>
										</el-select>
									</el-form-item>
								</el-col>

								<el-col :span="8">
									<el-form-item label="街道" prop="street">
										<el-input id="street" v-model="form.street" placeholder="请选择街道" style="width:220px"></el-input>
									</el-form-item>
								</el-col>

								<el-col :span="8">
									<el-form-item label="小区" prop="uptown">
										<el-input id="uptown" v-model="form.uptown" placeholder="请选择小区" style="width:220px" @blur="hadr()"></el-input>
									</el-form-item>
								</el-col>

								<el-col :span="8">
									<el-input type="hidden" v-model="form.hadr" style="width: 200px;margin-top: 10px;"></el-input>
								</el-col>
							</el-form-item>

							<el-form-item label="房屋详情">

								<el-col :span="8">
									<el-form-item label="编号" prop="houseid">
										<el-input id="houseid" v-model.number="form.houseid" style="width:220px" placeholder="请输入房屋编号" @blur="houseidall()"></el-input>
									</el-form-item>
								</el-col>

								<el-col :span="8">
									<el-form-item label="楼层" prop="hfloor">
										<el-input v-model.number="form.hfloor" style="width:220px" placeholder="请输入楼层数"></el-input>
									</el-form-item>
								</el-col>

								<el-col :span="8">
									<el-form-item label="朝向" prop="orientation">
										<el-select v-model="form.orientation" placeholder="请选择朝向">
											<el-option label="东" value="东"></el-option>
											<el-option label="西" value="西"></el-option>
											<el-option label="南" value="南"></el-option>
											<el-option label="北" value="北"></el-option>
										</el-select>
									</el-form-item>
								</el-col>

								<el-col :span="8">
									<el-form-item label="格局" prop="hdesc" style="margin-top: 20px;">
										<el-input v-model="form.hdesc" style="width:220px;" placeholder="几室几厅几卫"></el-input>
									</el-form-item>
								</el-col>

								<el-col :span="8">
									<el-form-item label="面积" prop="hspace" style="margin-top: 20px;">
										<el-input v-model.number="form.hspace" style="width:220px;" placeholder="m^2"></el-input>
									</el-form-item>
								</el-col>

								<el-col :span="8">
									<el-form-item label="租金" prop="hrent" style="margin-top: 20px;">
										<el-input v-model.number="form.hrent" style="width:220px;" placeholder="元/月"></el-input>
									</el-form-item>
								</el-col>

								<el-col :span="8">
									<el-form-item label="发布日期" prop="releasedate" style="margin-top: 20px;">
										<el-date-picker value-format="yyyy-MM-dd" type="date" placeholder="选择日期" v-model="form.releasedate" :picker-options="pickerOptions0" style="width: 200px;"></el-date-picker>
									</el-form-item>
								</el-col>

								<el-col :span="8">
									<span>房东编号</span>
									<el-input v-model="form.landlord" :value="form.landlord" style="width: 200px;margin-top: 20px;" disabled></el-input>
								</el-col>

								<el-col :span="8">
									<span>经纪人编号</span>
									<el-input v-model="form.agentid" style="width: 180px;margin-top: 20px;" disabled></el-input>
								</el-col>
								<el-col :span="8">
									<el-input type="hidden" v-model="form.himg" :value="form.himg" style="width: 200px;margin-top: 10px;"></el-input>
								</el-col>
								<el-col :span="8">
									<el-input type="hidden" v-model="form.cimg" :value="form.cimg" style="width: 200px;margin-top: 10px;"></el-input>
								</el-col>
							</el-form-item>

						</el-form>

						<el-form-item label="房屋设施">
							<el-checkbox-group v-model="installation">
								<el-checkbox label="电视" name="installation"></el-checkbox>
								<el-checkbox label="冰箱" name="installation"></el-checkbox>
								<el-checkbox label="洗衣机" name="installation"></el-checkbox>
								<el-checkbox label="空调" name="installation"></el-checkbox>
								<el-checkbox label="热水器" name="installation"></el-checkbox>
								<el-checkbox label="床" name="installation"></el-checkbox>
								<el-checkbox label="暖气" name="installation"></el-checkbox>
								<el-checkbox label="宽带" name="installation"></el-checkbox>
								<el-checkbox label="衣柜" name="installation"></el-checkbox>
								<el-checkbox label="天然气" name="installation"></el-checkbox>
							</el-checkbox-group>
						</el-form-item>

						<el-form-item label="房屋标签">
							<el-checkbox-group v-model="hlable">
								<el-checkbox label="近地铁" name="hlable"></el-checkbox>
								<el-checkbox label="随时看房" name="hlable"></el-checkbox>
								<el-checkbox label="在线签约" name="hlable"></el-checkbox>
								<el-checkbox label="公寓" name="hlable"></el-checkbox>
								<el-checkbox label="独立卫生间" name="hlable"></el-checkbox>
								<el-checkbox label="月租" name="hlable"></el-checkbox>
								<el-checkbox label="精装" name="hlable"></el-checkbox>
								<el-checkbox label="独立阳台" name="hlable"></el-checkbox>
								<el-checkbox label="集中供暖" name="hlable"></el-checkbox>
								<el-checkbox label="押一付一" name="hlable"></el-checkbox>
								<el-checkbox label="拎包入住" name="hlable"></el-checkbox>
								<el-checkbox label="新上" name="hlable"></el-checkbox>
							</el-checkbox-group>
						</el-form-item>

						<el-form-item label="房屋组图">
							<el-upload ref="upload" action="/upload" name="picture" list-type="picture-card" :limit="11" :on-exceed="onExceed" :before-upload="beforeUpload" :on-preview="handlePreview" :on-success="houseimageSuccess" :on-remove="handleRemove">
								<i class="el-icon-plus"></i>
							</el-upload>
							<el-dialog :visible.sync="dialogVisible">
								<img width="100%" :src="dialogImageUrl" alt="">
							</el-dialog>
						</el-form-item>

						<el-form-item>
							<el-button type="primary" @click="onSubmit()">立即创建</el-button>
							<el-button @click="rolefrom = false">取消</el-button>
						</el-form-item>
					</el-form>

				</el-main>

			</el-container>

		</div>
		<script>
			var hfloor = (rule, value, callback) => {
				if (!value) {
					return callback(new Error('楼层不能为空'));
				}
				setTimeout(() => {
					if (!Number.isInteger(value)) {
						callback(new Error('请输入数字值'));
					} else {
						if (value > 110) {
							callback(new Error('不能大于110'));
						} else if(value < -2){
							callback(new Error('楼层必须大于地下2层'));
						}else {
							callback();
						}
					}
				}, 1000);
			};
			var hspace = (rule, value, callback) => {
				if (!value) {
					return callback(new Error('面积不能为空'));
				}
				setTimeout(() => {
					if (!Number.isInteger(value)) {
						callback(new Error('请输入数字值'));
					} else {
						if (value > 1000) {
							callback(new Error('不能大于1000㎡并且不能小于10㎡'));
						}else if (value < 10){
							callback(new Error('不能小于10㎡'));
						} else {
							callback();
						}
					}
				}, 1000);
			};
			new Vue({
				el: "#res",
				data: {
					rolefrom: false,
					rform: {},
					rolenum: {},
					eform: {},//经纪人信息
					cform: {},
					cname: "",
					//文件上传的参数
					dialogImageUrl: '',
					dialogVisible: false,
					//图片列表（用于在上传组件中回显图片）
					/*fileList: [{
						name: '',
						url: ''
					}],*/
					form: {
						htitle: '', //标题
						address: '', //市区
						street: '', //街道
						uptown: '', //小区
						houseid: '', //编号
						hfloor: '', //楼层
						orientation: '', //朝向
						hdesc: '', //格局
						hspace: '', //面积
						hrent: '', //租金
						releasedate: '', //发布日期
						hadr: '', //地址
						landlord: '', //房东编号
						agentid: '', //经纪人编号
					},
					installation: [], //房屋设施
					hlable: [], //房屋标签
					tform: {},
					// 校验规则
					rules: {
						htitle: [{
								required: true, //是否必填
								message: '标题不能为空', //规则
								trigger: 'blur' //何事件触发
							},
							//可以设置双重验证标准
							{
								min: 3,
								max: 10,
								message: '长度在 3 到 10 个字符',
							}
						],
						street: [{
							required: true, //是否必填
							message: '街道不能为空', //规则
							trigger: 'blur' //何事件触发
						}],
						uptown: [{
							required: true, //是否必填
							message: '小区不能为空', //规则
							trigger: 'blur' //何事件触发
						}],
						address: [{
							required: true, //是否必填
						}],
						houseid: [{
								required: true, //是否必填
								message: '编号不能为空', //规则
								trigger: 'blur' //何事件触发
							},
							{
								type: 'number',
								message: '编号必须是数字'
							}
						],
						hfloor: [{
							validator: hfloor, trigger: 'blur'
							}
						],
						orientation: [{
							required: true, //是否必填
						}],
						hdesc: [{
							required: true, //是否必填
							message: '格局不能为空', //规则
							trigger: 'blur' //何事件触发
						}],
						hspace: [{
							validator: hspace, trigger: 'blur'
						}
						],
						hrent: [{
								required: true, //是否必填
								message: '租金不能为空', //规则
								trigger: 'blur' //何事件触发
							},
							{
								type: 'number',
								message: '租金必须是数字'
							}
						],
						releasedate: [{
							required: true, //是否必填
							message: '日期不能为空', //规则
						}],
					},

					pickerOptions0: {
						disabledDate(time) {
							return time.getTime() > Date.now() - 8.64e7; //如果没有后面的-8.64e7就是不可以选择今天的          }

						},

					},

				},
				mounted: function() {
					this.all(1);
					this.session(1);

				},
				methods: {
				    //获取经纪人的信息
					session: function() {
						var _this = this;
						$.ajax({
							type: "post",
							url: "/house/employeeSession",
							dataType: "json",
							success: function(data) {
								_this.eform = data;
							}
						});
					},
					all: function() {
						var _this = this;
						var opt = [];
						//查询所有客户信息，从中取出所有的客户id
						$.ajax({
							type: "post",
							url: "/house/cnumberAll",
							dataType: "json",
							success: function(data) {
								for(var i = 0; i < data.length; i++) {
									opt.push(data[i].id);
								}
								_this.rolenum = opt;
							}
						});
					},
					searchName: function(id) {
						//在选择房东的时候先查看客户的信息是否完整，不完整的话提示补充
					    //根据ID获取到客户的姓名
						var _this = this;
						if(id != null) {
							$.ajax({
								type: "post",
								url: "/customer/getCusInfo",
								dataType: "json",
								data: {
									id: id
								},
								success: function(data) {
									if(data.cname != null && data.cname != "") {
										_this.cname = data.cname;
									} else {
										_this.$message({
											message: '用户信息不完整，请联系用户完善个人信息',
											type: 'warning'
										});
									}
								}
							});
						}
					},
					hadr: function() {
						this.form.hadr = this.form.address + "-" + this.form.street + "-" + this.form.uptown;
						this.form.agentid = this.eform.id;
						this.form.landlord = this.cform.id;
					},
					houseidall: function() {
					    //录入房源之前判断房屋编号是否重复
						var a = this.form.houseid; //取到当前房屋id
						$.ajax({
							type: "post",
							url: "/house/houseById?houseid=" + a,
							dataType: "json",
							success: function(data) {
								if(data.code == 200) {
									/*_this.$message({
										message: data.msg,
										type: 'success'
									});*/
									alert("房屋编号已经存在");
									_this.rolefrom = false;
								}
							}
						});
					},

					//房屋图片上传成功的钩子函数
					houseSuccess: function(response, file) {
						this.$message({
							type: 'info',
							message: '图片上传成功',
							duration: 3000
						});
						if(file.response.success) {
							this.form.himg = file.response.message; //将返回的文件储存路径赋值picture字段
						}
					},

					//房屋组图上传成功的钩子函数
					houseimageSuccess: function(response, file) {
						this.$message({
							type: 'info',
							message: '房屋组图上传成功',
							duration: 3000
						});
						//往houseimgs表中插入房屋id房屋组图路径
						if(file.response.success) {
							var a = this.form.houseid; //取到当前房屋id
							var s = file.response.message; //将返回的文件储存路径赋值picture字段
							$.ajax({
								type: "post",
								url: "/house/houseimgsInsert?houseid=" + a + "&houseimg=" + s,
								dataType: "json",
								success: function(data) {
									if(data.code == 200) {
										_this.$message({
											message: data.msg,
											type: 'success'
										});
										_this.rolefrom = false;
									} else {
										this.$message.error(data.msg);
									}
								}
							});
						}
					},
					//删除文件之前的钩子函数
					handleRemove: function(file, fileList) {
						//alert(1111);
						this.$message({
							type: 'info',
							message: '已删除原有图片!!',
							duration: 6000
						});
					},
					//点击列表中已上传的文件事的钩子函数
					handlePreview: function(file) {},
					//上传的文件个数超出设定时触发的函数
					onExceed: function(files, fileList) {
						this.$message({
							type: 'info',
							message: '最多只能上传一个图片',
							duration: 6000
						});
					},
					//文件上传前的前的钩子函数
					//参数是上传的文件，若返回false，或返回Primary且被reject，则停止上传
					beforeUpload: function(file) {
						var isJPG = file.type === 'image/jpeg';
						var isGIF = file.type === 'image/gif';
						var isPNG = file.type === 'image/png';
						var isBMP = file.type === 'image/bmp';
						var isLt2M = file.size / 1024 / 1024 < 2;

						if(!isJPG && !isGIF && !isPNG && !isBMP) {
							this.$message.error('上传图片必须是JPG/GIF/PNG/BMP 格式!');
						}
						if(!isLt2M) {
							this.$message.error('上传图片大小不能超过 2MB!');
						}
						return(isJPG || isBMP || isGIF || isPNG) && isLt2M;
					},
					onSubmit: function() {
						var _this = this;
						var a = this.form.houseid;
						var b = this.cform.id;

						//往house_furniture房屋设施中间表中添加数据
						//a为房间编号
						$.ajax({
							type: "post",
							url: "/house/housefurInsert?houseid=" + a,
							data: {
								installation: this.installation
							},
							dataType: "json",
							success: function(data) {
								if(data.code == 200) {
									_this.$message({
										message: data.msg,
										type: 'success'
									});
								} else {
									this.$message.error(data.msg);
								}
							}
						});
						//往house_label房屋标签中间表中添加数据
						//a为房间编号
						$.ajax({
							type: "post",
							url: "/house/houselabelInsert?houseid=" + a,
							data: {
								hlable: this.hlable
							},
							dataType: "json",
							success: function(data) {
								if(data.code == 200) {
									_this.$message({
										message: data.msg,
										type: 'success'
									});
								} else {
									this.$message.error(data.msg);
								}
							}
						});

						//往house表中添加房源信息并将其状态定为待审核2
						//alert(JSON.stringify(this.form));
						$.ajax({
							type: "post",
							url: "/house/houseInsert",
							data: this.form,
							dataType: "json",
							success: function() {
								window.location.href = "allhouse.html";
							}
						});
					}
				}

			})
		</script>
	</body>

</html>