<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>瑰居</title>
    <link rel="icon" href="../../resources/images/favicon.ico"/>
    <script src="../../resources/js/jquery.js"></script>
    <script src="../../resources/vue/vue.js"></script>
    <script src="../../resources/js/ele.js"></script>
    <link href="../../resources/css/ele.css" rel="stylesheet">
    <style>
        #permission {
            height: 100%;
            background-color: #DCDFE6;
        }

        #permission img {
            width: 50px;
            margin-left: 15px;
            margin-top: 10px;
            float: left
        }

        #permission h1 {
            float: left;
        }

        body .el-container {
            height: 100%;
            margin-bottom: 40px;
            border-radius: 2px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
        }

        .el-header, .el-footer {
            background-color: #E4E7ED;
            color: #333;
            text-align: center;
        }

        .el-main {
            height: 550px;
            background-color: #EBEEF5;
            color: #333;
            text-align: center;
        }

        .el-main .el-table {
            height: auto;
            background-color: #F2F6FC;
        }
        #rform{
            float: right;
        }
        .el-form-item {
            margin-top: 10px;
        }

    </style>
</head>
<body>
<div id="permission">
    <el-container>

        <el-header>

            <image src="../../resources/images/icon/权限管理.png"></image>
            <h1>&nbsp;权限管理</h1>

            <el-form :inline="true" class="demo-form-inline" id="rform">
                <el-form-item label="角色编号">
                    <el-select v-model="rnum" placeholder="请选择角色编号" size="large" clearable>
                        <el-option
                                v-for="role in rolenum"
                                :key="role"
                                :value="role">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="searchRole" icon="el-icon-search">查询</el-button>
                </el-form-item>
            </el-form>

        </el-header>
        <el-main>

            <el-row :gutter="20">

                <el-col :span="8">
                    <div class="grid-content bg-purple">

                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <span>角色信息</span>
                            </div>
                            <div class="text item">
                                <el-form :model="rlfrom" label-width="80px">
                                    <input type="hidden" v-model="rlfrom.id" id="rid"/>
                                    <el-form-item label="角色编号">
                                        <el-input v-model="rlfrom.rnum" :disabled="true"></el-input>
                                    </el-form-item>
                                    <el-form-item label="角色名字">
                                        <el-input v-model="rlfrom.rname" :disabled="true"></el-input>
                                    </el-form-item>
                                    <el-form-item label="角色介绍">
                                        <el-input v-model="rlfrom.rdesc" :disabled="true"></el-input>
                                    </el-form-item>
                                </el-form>
                            </div>
                        </el-card>
                        <el-card class="box-card">
                            <el-button type="primary" @click="getCheckedKeys">修改</el-button>
                        </el-card>
                        <el-alert
                                title="修改完成后 请重登陆"
                                type="info"
                                close-text="知道了">
                        </el-alert>
                    </div>
                </el-col>
                <el-col :span="16">
                    <div class="grid-content bg-purple">

                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <span>对应权限</span>
                            </div>
                            <div class="text item">
                                <el-tree
                                        :data="ptree"
                                        show-checkbox
                                        default-expand-all
                                        node-key="id"
                                        ref="tree"
                                        highlight-current
                                        :default-checked-keys="defaultSeleted"
                                        >
                                </el-tree>
                            </div>
                        </el-card>

                    </div>
                </el-col>

            </el-row>

        </el-main>
    </el-container>


</div>
<script>
    new Vue({
        el: "#permission",
        data:{
            rolenum:[],//角色编号组
            rlfrom:{}, //表单数据(不可修改初始赋值)
            rnum:null, //查询条件-角色编号
            ptree:[], //权限组
            defaultSeleted:[],//tree的默认选项
        },
        mounted: function () {
            var _this=this;
            //加载所有角色编号
            $.ajax({
                type: "post",
                url: "/role/getRoleNum",
                dataType: "json",
                success: function (data) {
                    _this.rolenum = data;
                }
            });
            //加载所有权限
            $.ajax({
                type: "post",
                url: "/permission/getRolePer",
                dataType: "json",
                success: function (data) {
                    _this.ptree = data.object;
                }
            });
        },
        methods:{
            //id搜索角色信息和对应权限
            searchRole:function () {
                var _this=this;
                $.ajax({
                    type: "post",
                    url: "/role/getRoleByNum",
                    dataType: "json",
                    data:{rnum:_this.rnum},
                    success: function (data) {
                        var id=data.object.id;
                        _this.rlfrom=data.object;
                        $.ajax({
                            type: "post",
                            url: "/permission/getPidByRid/"+id,
                            dataType: "json",
                            success: function (data) {
                                //console.log(data.object);
                                _this.$refs.tree.setCheckedKeys([]);
                                _this.defaultSeleted=data.object;
                            }
                        });
                    }
                });
            },
            //修改权限
            getCheckedKeys:function () {
                var _this= this;
                var key1=_this.$refs.tree.getCheckedKeys();
                var key2=_this.$refs.tree.getHalfCheckedKeys();
                var setKeys=new Array();
                for (var i =0;i<key1.length;i++){
                    setKeys.push(key1[i]);
                }
                for (var i =0;i<key2.length;i++){
                    setKeys.push(key2[i]);
                }
                $.ajax({
                    type: "post",
                    url: "/permission/setPerOrRole",
                    data:{"pid[]":setKeys},
                    dataType: "json",
                    success: function (data) {
                        if (data.code==200){
                            _this.$message({
                                message: data.msg,
                                type: 'success'
                            });
                        }else{
                            _this.$message.error("修改失败");
                        }
                    }
                });
            },

        }
    })
</script>
</body>
</html>